@use 'utility';

$primary-color: #eb5d1e;
$h-pad: 6rem;

%width-full {
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#navbar {
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 1;
  @extend %width-full;
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 0 0 10px rgb(168, 168, 168);
  color: rgba(128, 112, 103, 255);
  padding: 0 $h-pad;

  li {
    list-style: none;
    display: inline-block;
    padding: 0 0.5rem;
    cursor: pointer;
  }

  li:active {
    transform: scale(1.05);
  }
}

.dropdown {
  width: 10px;
  vertical-align: baseline;
  cursor: pointer;
}

.section {
  display: flex;
  justify-content: center;
  padding: 1rem $h-pad;
  gap: 5rem;

  > img {
    width: 50%;
  }

  h1 {
    font-size: xx-large;
    margin: 0;
  }

  h3 {
    font-weight: 400;
  }

  h2 {
    font-size: 14px;
    font-weight: 400;
  }

  h4 {
    margin: 0;
    padding-top: 1rem;
    font-size: larger;
  }

  h5 {
    font-weight: 500;
    margin-top: 0;
  }
}

#options > * {
  padding: 0 0.5rem;
  font-weight: 600;
}

.img-card {
  width: 25vw;

  > img {
    border-radius: 5px;
    width: 25vw;
  }
}

.bottom-gray {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
  border-bottom: 1px solid #b6b6b6;
  @extend %width-full;

  h3 {
    color: #555;
    font-size: 16px;
    font-weight: 600;
  }
}

.team-img {
  @extend %width-full;

  &:hover {
    transform: scale(1.02);
  }
}

.address-card {
  border-top: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
  padding: 2rem;
  box-shadow: 1px 1px 20px 1px #ccc;
  height: 100vh;

  h3 {
    margin-bottom: 0;
  }
}

form input,
textarea {
  border: 1px solid rgb(167, 167, 167);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#name,
#email {
  @extend %width-full;
}

#subject {
  @extend %width-full;
}

#message {
  width: 40vw;
  height: 50vh;
}

#footer-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5rem;

  h3 {
    font-weight: 600;
    font-size: 14px;
  }
}

.styled-list {
  padding-left: 5px;

  > li {
    margin: 0.5rem 0;
    background: url(/assests/chevron-right-30.png) no-repeat left center;
    background-size: 15px 10px;
    padding: 5px 5px 10px 20px;
    list-style: none;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    font-size: small;
  }

  > li:hover {
    transform: translateX(10px);
  }
}

.social-icons {
  background-color: $primary-color;
  color: white;
  padding: 0.5em 0.6em;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;

  &:hover {
    transform: scale(1.2);
  }
}

.footer {
  padding: 1.25rem $h-pad;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#scroll-up {
  background-color: $primary-color;
  padding: 0.5rem;
  position: absolute;
  border: none;
  bottom: 10px;
  right: 10px;
}

#fb-fix {
  padding: 0.5rem 0.8rem;
}

/* Media Query for Mobile View */

@media only screen and (max-width: 500px) {
  #navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    ul {
      display: none;
    }
  }

  .menu {
    display: block;
  }

  .section {
    padding: 1rem;
    display: block;
    width: 100%;

    > img {
      width: 100%;
    }
  }

  .sub-flex-center {
    flex-direction: column;
  }

  .img-card {
    width: 90vw;

    > img {
      width: 90vw;
    }
  }

  #contact-form {
    width: 90vw;
  }

  #message {
    width: 100%;
  }

  form input {
    width: 100%;
  }

  #footer-section {
    display: block;
  }

  .footer {
    display: block;
    padding: 1rem 1rem 3rem;
    text-align: center;
  }
}
